body {
  font-family: 'Fjalla One', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.icon {
  margin-left: 5%;
  margin-right: 1%;
}
